<!-- filepath: /home/mibalazs/ros2_ws/KR_project_ws/src/KogRob-EtoE-NN-Driving/gazebo_models/track_with_road/model.config -->
<?xml version="1.0" ?>
<model>
  <name>track_with_road</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your_email@example.com</email>
  </author>
  <description>
    A track with a road for simulation.
  </description>
</model>